body {
  background-color: aqua;
  opacity: 0.8;
}

@font-face {
  font-family: '自定义字体001';
  src: url(字体001.ttf);
}

p {
  position: absolute;
  font-family: '自定义字体001';
  left: 1450px;
  top: 200px;
  font-size: 700px;
}

h1 {
  position: absolute;
  font-family: '自定义字体001';
  left: 1100px;
  top: 1500px;
  font-size: 600px
}

h2 {
  position: absolute;
  font-family: '自定义字体001';
  left: 4000px;
  top: 1300px;
  font-size: 700px
}